
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background: linear-gradient(-45deg, #9b7979, #4653eb );
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 8px;
  padding: 20px;
}

form label {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: flex-start;
  gap: 10px;
}

.error {
  color: rgb(131, 24, 24);
}

.submitBtn {
  height: 25px;
}